.tag {
	display: grid;
	grid-template-columns: 4fr 1fr;
	align-items: center;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	border: 1px solid var(--text-color);
	padding: 1em;
}

.options {
	display: flex;
}

.deleteBtn,
.editBtn {
	flex: 1;
	border: none;
	background: none;
	font-weight: bold;
	padding: 0.3em 0.6em;
	border-radius: 1em;
    margin-left: 1em;
	cursor: pointer;
}

.deleteBtn {
	color: var(--main-color);
}

.editBtn {
	background-color: var(--main-color);
	color: var(--second-color);
}

.tagName {
	padding-left: 1em;
}

.tagNameInput {
    padding: 0.6em;
}

@media (max-width: 450px) {
	.tag {
		padding: 0.1em;
	}

	.options {
		flex-direction: column;
	}

	.tagName {
		font-size: 0.8rem;
	}

	.deleteBtn,
	.editBtn {
		font-size: 0.8rem;
	}
}
