.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	overflow-y: auto;
	padding: 1em;
}

.popupContent {
	position: relative;
	background-color: var(--second-color);
	width: 100%;
	max-width: 1000px;
	height: 90%;
	padding: 2em;
	border-radius: 1em;
	overflow-y: auto;
}

.closeBtn {
	position: absolute;
	top: 3%;
	right: 5%;
	background-color: transparent;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
}

.tagContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 0.8em;
	margin-top: 1em;
}

.tag {
	padding: 1em;
	margin: 0.3em;
	border-radius: 1.5em;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	cursor: pointer;
}

.filterTagInput {
	margin-top: 1em;
	padding: 0.5em;
	width: 50%;
}

.selected {
	background-color: var(--main-color);
	color: var(--second-color);
}

@media (max-width: 768px) {
	.popupContent {
		max-width: 90%; 
		padding: 1.5em; 
	}

	.tag {
		font-size: 0.7rem;
	}

	.filterTagInput {
		width: 80%;
	}
}
