.profile {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 2em;
	border-top: 1px solid #808080;
}

.title {
	font-size: 2rem;
	margin-bottom: 1em;
}

.profileInfo {
	border: 1px solid black;
	padding: 3em;
}

.profileInfo img {
	display: block;
	width: 100%;
	margin: 0 auto 1em;
}

.editInfo {
	display: flex;
	flex-direction: column;
}

.editBtn {
	align-self: flex-end;
}
