.profile {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 2em;
	border-top: 1px solid #808080;
}

.title {
	font-size: 2rem;
	margin-bottom: 1em;
}

.profileInfo {
	border: 1px solid black;
	padding: 3em;
}

.photoContainer {
	position: relative;
	margin-bottom: 1.3em;
}

.profileImg {
	display: block;
	width: 100%;
	margin: 0 auto 1em;
	object-fit: cover;
	border-radius: 0.5em;
	transition: transform 0.3s ease;
}

.photoContainer:hover .profileImg {
	transform: scale(1.05);
	filter: brightness(0.5);
}

.editPhotoBtn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--text-color);
	color: white;
	border: none;
	padding: 0.7em 1.4em;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.3s ease;
	font-weight: bold;
}

.photoContainer:hover .editPhotoBtn {
	opacity: 1;
}

.editInfo {
	display: flex;
	flex-direction: column;
}

.editBtn {
	align-self: flex-end;
}

.ratings {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1em;
}