.chat {
	padding: 4em;
	border-top: 1px solid #808080;
}

.msgContainer {
	max-height: 500px;
	overflow-y: auto;
}

.messages {
	display: flex;
	flex-direction: column;
	gap: 1em;
	max-width: 1000px;
	margin: 0 auto;
	padding: 1em;
	border: 1px solid black;
}

.profileLink {
	color: var(--text-color);
}

.profileLink:hover {
	color: var(--main-color);
}

@media (max-width: 580px) {
	.chat {
		padding: 0.5em;
	}
}