.paymentForm {
	border-top: 1px solid #808080;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 2em;
	width: 100%;
	max-width: 40em;
	margin: 0 auto;
	padding: 0 3em;
}

.formGroup {
	display: flex;
	flex-direction: column;
}

.amountInput {
	padding: 0.8em;
}

.confirmBtn {
	padding: 0.8em 2em;
	margin-top: 1em;
	align-self: center;
	background: none;
	border: none;
	background-color: var(--main-color);
	color: var(--second-color);
	border-radius: 1em;
	cursor: pointer;
}
