.menu {
    display: flex;
    align-items: baseline;
    justify-content: end;
    gap: 1em;
    width: 100%;
}

.menu a {
    transform: translateY(15%);
    text-decoration: none;
	color: var(--text-color);
    font-size: 2.7rem;
}

.menu a:last-child {
    font-size: 2.3rem;
}