.offer {
	position: relative;
	margin-top: 1em;
	margin-bottom: 1.5em;
	text-align: center;
}

.offer a {
	text-decoration: none;
	color: var(--text-color);
}

.price {
	color: var(--main-color);
	font-size: 1.2rem;
}
