.card {
	border: 1px solid var(--text-color);
	border-radius: 1em;
	padding: 2em 4em;
	width: 70%;
	margin: 2em auto;
	font-size: 1.1rem;
}

.mainPhoto {
	width: 15%;
}

.card a {
	text-decoration: none;
	color: var(--text-color);
}

.offerInfo {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

.offerTitle {
	flex: 1;
	padding: 1em 2em;
}

.deleteOfferBtn {
	display: inline-block;
	margin-left: 2em;
	padding: 2em;
	background: none;
	border: none;
	cursor: pointer;
	color: var(--main-color);
	font-weight: bolder;
}

@media(max-width: 700px) {
	.offerInfo {
		flex-direction: column;
	}

	.mainPhoto {
		width: 100%;
	}
}