.msg {
	display: flex;
	padding: 1em;
}

.offerImg {
	width: 10em;
}

.offerContainer {
	flex: 1;
	padding: 1em;
}

.actionBtns {
    display: flex;
    padding: 1em;
    gap: 1em;
}

.actionBtns button {
	cursor: pointer;
	font-size: 3rem;
	padding: 0.1em;
	border: none;
	background: none;
}

.confirmBtn {
	color: green;
}

.cancelBtn {
	color: red;
}
