.msg {
	display: flex;
	padding: 1em;
}

.offerImg {
	width: 10em;
}

.offerContainer {
	flex: 1;
	padding: 1em;
}

.actionBtns {
	display: flex;
	padding: 1em;
	gap: 1em;
}

.actionBtns button {
	cursor: pointer;
	font-size: 3rem;
	padding: 0.1em;
	border: none;
	background: none;
}

.confirmBtn {
	color: green;
}

.cancelBtn {
	color: red;
}

.ratingLink {
	display: inline-block;
	padding: 0.5em;
	margin-top: 1em;
	text-decoration: none;
	color: var(--text-color);
	border: 1px solid black;
}

.ratingLink:hover {
	color: var(--main-color);
	border-color: var(--main-color);
}
