.chatMessage {
	display: flex;
	align-items: start;
	padding: 1em;
	border-bottom: 1px solid #808080;
}

.msgContainer {
	flex: 1;
}

.profileImg {
	order: 1;
	border-radius: 50%;
	width: 4em;
	margin-right: 1em;
}

.imgRight {
	order: 0;
}

.unreadMsg {
	color: var(--main-color);
}

.readMsg {
	color: #006400;
}

.msgContent {
	margin: 0.2em 0;
}

@media (max-width: 580px) {
	.msgContent {
		font-size: 0.8rem;
		word-break: break-all;
	}

	.profileImg {
		width: 3em;
		margin-right: 0.7em;
	}

	.chatMessage {
		padding: 0.6em;
	}
}
