.offers {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
}

.moreBtn {
	text-align: center;
	margin-top: 3em;
}

@media (max-width: 1200px) {
	.offers {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 900px) {
	.offers {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 550px) {
	.offers {
		grid-template-columns: 1fr;
	}
}
