.form {
	display: flex;
	width: 100%;
	padding: 1em 3em;
}

.select {
	background-color: var(--main-color);
	color: var(--second-color);
	padding: 0.4em 0.6em;
	border-radius: 0.5em;
}

.searchGroup {
	position: relative;
	flex: 1;
}

.input {
	border-radius: 0.2em;
	padding: 0.7em 0.9em;
	padding-left: 3em;
	width: 100%;
}

.btn {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: none;
	border: none;
	border-right: 1px dashed var(--text-color);
	z-index: 10;
	padding: 0.2em 0.5em;
	cursor: pointer;
}
