.offerDetails {
	padding: 1em;
}

.container {
	display: flex;
	padding: 4em 4em 0;
	border-top: 1px solid #808080;
}

.offer {
	width: 60%;
	margin-bottom: 2em;
}

.offerInfo {
	flex: 2;
}

.offerGallery {
	flex: 1;
}

.price {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	font-size: 1.3rem;
	color: var(--main-color);
}

.options {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 2em;
}

.options button {
	width: 30%;
	cursor: pointer;
}

.btn {
	padding: 1em;
	background: none;
	border-radius: 1em;
	font-weight: bold;
}

.title {
	text-align: left;
}

.tags {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em;
	padding: 0 1em 2em 1em;
}

.tag {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	padding: 1em;
	border-radius: 2em;
	font-size: 0.8em;
}

.views {
	text-align: center;
	margin-top: 5em;
	font-size: 0.8rem;
}

@media (max-width: 600px) {
	.options button {
		width: 100%;
		font-size: 0.7rem;
	}

	.offer {
		width: 100%;
		font-size: 0.8rem;
	}
}

@media (max-width: 900px) {
	.container {
		flex-direction: column;
		padding: 1em 1em 0;
	}

	.options {
		margin-bottom: 1em;
	}
}
