.offerDetails {
	padding: 1em;
}

.container {
	display: flex;
	padding: 4em 4em 0;
	border-top: 1px solid #808080;
}

.offer {
	width: 45%;
	margin-bottom: 2em;
}

.offerInfo {
	flex: 2;
}

.offerGallery {
	flex: 1;
}

.price {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	font-size: 1.3rem;
	color: var(--main-color);
}

.options {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 2em;
}

.options button {
	width: 30%;
}

.btn {
	padding: 1em;
	background: none;
	border-radius: 1em;
	font-weight: bold;
}

.title {
	text-align: left;
}
